body {
  font-family: Arial, serif;
}

p {
  display: inline-block;
  background-color: #6CBFEE;
  padding: 0px 30px 30px 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

h1 {
  background-color: #6CBFEE;
  padding-left: 30px;
  padding-top: 30px;
  height: 40px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 1.4em;
  vertical-align: bottom;
}

.event {
  /* border: 1px dashed #000000; */
  margin: 0px;
  display: inline-block;
}

.event_title {
    border-top: 1px solid #FFFFFF;
    margin-left: 30px;
    margin-right: 30px;
    height 1px;
    background-color: #6CBFEE;
}

div {
  display: inline-block;
}

.right_side {
    border-left: 10px solid #AFDCF8;
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 30px;
    width: 40%;
    color: #FFFFFF;
}

.left_side {
    float: left;
    vertical-align: top;
    text-align: right;
    width: 30%;
    padding-right: 50px;
}
 .date {
   color: #BDD0DB;
   font-size: 0.9em;

 }

 .time {
   color: #6CBFEE;
   font-size: 1.6em;
 }

.icon {
  position: absolute;
  color: #FFFFFF;
  background-color: #3594CB;
  width: 35px;
  height: 35px;
  margin-left: -10px;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 10px #AFDCF8;
}

.caret {
  position: absolute;
  color: #aaaaaa;
  padding-left: -20;
