p {
  display: inline-block;
}

.event {
  border: 1px dashed #000000;
  margin: 0px;
  display: inline-block;
}

div {
  display: inline-block;
}

.right_side {
    border-left: 10px solid #000000;
    padding-left: 50px;
    width: 40%;
}

.left_side {
    float: left;
    vertical-align: top;
    text-align: right;
    width: 30%;
    padding-right: 50px;
}

.arrow_left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-right:10px solid blue;
}

.icon {
  position: absolute;
  color: #dddddd;
}

.caret {
  position: absolute;
  color: #aaaaaa;
}
